# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/
*.egg
MANIFEST

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.coverage
.tox/
.nox/
.pytest_cache/

# Environments
.env
.venv
env/
venv/

# Jupyter Notebook
.ipynb_checkpoints

# IDEs and editors
.idea/
.vscode/
.history/

# Ruff
.ruff_cache/
