[build-system]
requires = ["flit_core >=3.2,<4"]
build-backend = "flit_core.buildapi"

[project]
name = "django-template-partials"
authors = [{name = "Carlton Gibson", email = "carlton.gibson@noumenal.es"}]
license = {file = "LICENSE"}
classifiers = ["License :: OSI Approved :: MIT License"]
dynamic = ["version", "description"]

[project.urls]
Home = "https://noumenal.es/django-template-partials/"


[tool.flit.module]
name = "template_partials"
