name: Tests

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    # env:
    #   PYTHONPATH: 'src'
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version:
          - "3.11"

    steps:
      - uses: actions/checkout@v3

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          python -m pip install -e .[tests]

      - name: Run tests with coverage
        run: |
          coverage erase
          coverage run -m django test --settings=tests.settings --pythonpath=.
          coverage report
